# for loops

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
my_list = [1, 4, 7, 10, -5]
print(my_list)

for i in my_list:
    print(i)

[1, 4, 7, 10, -5]
1
4
7
10
-5

In [3]:
my_tuple = (3,-2,"hello",True)
for i in my_tuple:
    print(i)

3
-2
hello
True

In [4]:
for i in range(10):
    print(f"Barbera {i}")

Barbera 0
Barbera 1
Barbera 2
Barbera 3
Barbera 4
Barbera 5
Barbera 6
Barbera 7
Barbera 8
Barbera 9

# while loops

In [5]:
counter = 0
while counter < 5:
    print(counter)
    counter+=1
    if counter == 3:
        break
print(counter)

0
1
2
3

In [6]:
for n in range(21):
    if n == 0:
        continue
    if n%2 == 0:
        print(n)

2
4
6
8
10
12
14
16
18
20

In [7]:
x = 10
while x > 1:
    print("x value: ",x)
    x-=1

x value:  10
x value:  9
x value:  8
x value:  7
x value:  6
x value:  5
x value:  4
x value:  3
x value:  2

In [8]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for n in numbers:
    print(n)
    if n == 5:
        break
print("loop is teminated")

1
2
3
4
5
loop is teminated

In [9]:
for r in range(3):
    # inner loop for the rows
    for c in range(5):
        # loop for the colums
        print("*", end="")
    print()

*****
*****
*****

# ERROR HANDLING

In [10]:
try:
    x = 3/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [11]:
try:
    x = 10+"abc"
except TypeError as e:
    print(f"the following error occurred: {e}")

the following error occurred: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
my_list = [1,2,3,4,5]
try:
    print(my_list[10])
except Exception as e:
    print(f"the following error happened: {e}")

the following error happened: list index out of range

------------------------HOMEWORK------------------------

In [13]:
# ex 1
#print(a) # NameError because a is not defined yet

In [14]:
try:
    print(a)
except NameError as e:
    print(f"the following error happened: {e}")

the following error happened: name 'a' is not defined

In [17]:
# ex 2
def  concatenate_strings(str1, str2):
    return str1+str2

print(concatenate_strings("hello", "ciao")) 

try:
    concatenate_strings("hello", 45)
except TypeError as e:
    print(f"the following error happened: {e}")

hellociao
the following error happened: can only concatenate str (not "int") to str

In [21]:
# ex 3
l = [1,2,3,5,"pippo"]
#l[6]=5 # IndexError
try:
    l[6]=5
except IndexError as e:
    print(f"the following error happened: {e}")

the following error happened: list assignment index out of range

In [27]:
# ex 4
try:
    n = 88/0
except Exception as e:
    print(f"the following error happened: {e}")

the following error happened: division by zero